In [2]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples=1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [12]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

# create dataframe for class 1
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [13]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [14]:
df.tail()

     feature_1  feature_2  target
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

In [15]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [16]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [17]:
### upsampling 
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [31]:
from sklearn.utils import resample

In [32]:
df_minority_upsampled = resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [33]:
df_minority_upsampled.shape

(900, 3)

In [34]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [35]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [ ]:
### downsampling

In [37]:
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

# create dataframe for class 1
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [38]:
### down sampling
df_majority=df[df['target']==1]
df_minority=df[df['target']==0]

In [39]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority,replace= False ,n_samples=len(df_majority),random_state=42)
df_majority_downsampled.shape

(100, 3)

In [40]:
df_downsapled=pd.concat([df_majority_downsampled,df_minority])

In [43]:
df_downsapled['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64