In [ ]:
# SQL and SQL lite 
# SQL ( structured query language ) is a standard language for managing and manipulating relational databases . 
# SQLite is a self - contained serverless and zero configuration databse engine that is widely used for emedded databse systems .

In [1]:
import sqlite3

In [2]:
## connect to an SQLite databse
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [5]:
### create a table 
cursor.execute(''' 
Create Table IF Not Exists employee(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text               
               )
''')

### commit the changes 
connection.commit()

In [6]:
cursor.execute(''' 
Select * From employee
''')

In [10]:
## Insert the data in sqlite 3
cursor.execute('''
Insert Into employee(name,age,department)
               values('keshav' , 20 , 'Data science')
''')

In [11]:
cursor.execute('''
Insert Into employee(name,age,department)
               values('anchal' , 20 , 'finance')
''')

In [12]:
cursor.execute('''
Insert Into employee(name,age,department)
               values('rohit' , 21 , 'advisor')
''')

In [13]:
connection.commit()

In [14]:
### quering any data from SQLite3
cursor.execute('''
Select * From employee
''')
rows = cursor.fetchall()

#print the querreed data
for row in rows : 
    print(row)

(1, 'keshav', 20, 'Data science')
(2, 'anchal', 20, 'finance')
(3, 'rohit', 21, 'advisor')

In [15]:
#update the data in the table 
cursor.execute('''
Update employee
Set age = 21
Where name = 'keshav'
''')

In [16]:
connection.commit()

In [17]:
### quering any data from SQLite3
cursor.execute('''
Select * From employee
''')
rows = cursor.fetchall()

#print the querreed data
for row in rows : 
    print(row)

(1, 'keshav', 21, 'Data science')
(2, 'anchal', 20, 'finance')
(3, 'rohit', 21, 'advisor')

In [18]:
### delete the data from the table 
cursor.execute('''
Delete from employee
where name = 'rohit'
''')

connection.commit()

In [19]:
### quering any data from SQLite3
cursor.execute('''
Select * From employee
''')
rows = cursor.fetchall()

#print the querreed data
for row in rows : 
    print(row)

(1, 'keshav', 21, 'Data science')
(2, 'anchal', 20, 'finance')

In [20]:
## making sales data

In [30]:
connection = sqlite3.connect('salesdata.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales_new(
               id INT PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INT,
               region TEXT)
''')

In [28]:
sales_data = [
    ('2025-08-21','Product1',100,'India'),
    ('2025-08-20','Product2',300,'Japan'),
    ('2025-08-23','Product3',400,'USA'),
    ('2025-08-21','Product4',1500,'Russia'),
    ('2025-08-11','Product5',120,'UK'),
    ('2025-08-01','Product6',1010,'NYC'),
    ('2025-08-20','Product7',1002,'LN')
]

In [31]:
cursor.executemany('''
INSERT into sales_new(date,product,sales,region)
                   values(?,?,?,?)
                   ''',sales_data)

In [32]:
connection.commit()

In [33]:
cursor.execute('SELECT * FROM sales_new')
rows=cursor.fetchall()
for row in rows :
    print(row)

(None, '2025-08-21', 'Product1', 100, 'India')
(None, '2025-08-20', 'Product2', 300, 'Japan')
(None, '2025-08-23', 'Product3', 400, 'USA')
(None, '2025-08-21', 'Product4', 1500, 'Russia')
(None, '2025-08-11', 'Product5', 120, 'UK')
(None, '2025-08-01', 'Product6', 1010, 'NYC')
(None, '2025-08-20', 'Product7', 1002, 'LN')

In [34]:
connection.close()