In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
import plotly.express as px
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv("cardekho_imputated.csv")

In [3]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15411 non-null  int64
 1   car_name           15411 non-null  object
 2   brand              15411 non-null  object
 3   model              15411 non-null  object
 4   vehicle_age        15411 non-null  int64
 5   km_driven          15411 non-null  int64
 6   seller_type        15411 non-null  object
 7   fuel_type          15411 non-null  object
 8   transmission_type  15411 non-null  object
 9   mileage            15411 non-null  float64
 10  engine             15411 non-null  int64
 11  max_power          15411 non-null  float64
 12  seats              15411 non-null  int64
 13  selling_price      15411 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.6+ MB

In [5]:
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [6]:
df.isna().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [7]:
df.columns

Index(['Unnamed: 0', 'car_name', 'brand', 'model', 'vehicle_age', 'km_driven',
       'seller_type', 'fuel_type', 'transmission_type', 'mileage', 'engine',
       'max_power', 'seats', 'selling_price'],
      dtype='object')

In [8]:
df.drop('Unnamed: 0',axis=1 , inplace=True)

In [9]:
df.columns

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

In [10]:
df.drop(columns=['car_name','brand'],axis=1,inplace=True)

In [11]:
df.columns

Index(['model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats',
       'selling_price'],
      dtype='object')

In [12]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [13]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print("num of numerical features :",len(num_features))
cat_features= [feature for feature in df.columns if df[feature].dtype == 'O']
print("num of categorical features :",len(cat_features))
discreate_features = [feature for feature in num_features if len(df[feature].unique())<=25]
print("num of discreate features are : ",len(discreate_features))
continous_features = [feature for feature in num_features if feature not in discreate_features]
print("num of continous features are :",len(continous_features))

num of numerical features : 7
num of categorical features : 4
num of discreate features are :  2
num of continous features are : 5

In [14]:
X = df.drop(['selling_price'],axis=1)

In [15]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
15406,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
15407,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
15408,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
15409,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
15410,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [16]:
y = df['selling_price']

In [17]:
y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
15406     250000
15407     925000
15408     425000
15409    1225000
15410    1200000
Name: selling_price, Length: 15411, dtype: int64

In [18]:
#feature encoding and scaling
from sklearn.preprocessing import LabelEncoder

In [19]:
le = LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [20]:
X['model']

0          7
1         54
2        118
3          7
4         38
        ...
15406    117
15407     42
15408     77
15409    114
15410     25
Name: model, Length: 15411, dtype: int64

In [21]:
num_features = X.select_dtypes(exclude="object").columns
onehot_cols = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,onehot_cols),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [22]:
X = preprocessor.fit_transform(X)

In [23]:
from  sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.20, random_state=42)

In [31]:
!pip install xgboost

Requirement already satisfied: xgboost in d:\data_science\.venv\lib\site-packages (3.1.3)
Requirement already satisfied: numpy in d:\data_science\.venv\lib\site-packages (from xgboost) (2.2.6)
Requirement already satisfied: scipy in d:\data_science\.venv\lib\site-packages (from xgboost) (1.16.2)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression , Ridge , Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score , mean_absolute_error  , mean_squared_error

In [25]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rsme = np.sqrt(mse)
    r2 = r2_score(true,predicted)
    return mae , rsme , r2

In [33]:
models ={
    "LinearRegression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "KNeighborsRegressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "RandomForestRegressor":RandomForestRegressor(),
    "AdaBoostRegressor":AdaBoostRegressor(),
    "GradientBoostingRegressor":GradientBoostingRegressor(),
    "XGBRegressor":XGBRegressor()
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae , model_train_rmse , model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae , model_test_rmse , model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print('Model performance in train set')
    print(" RSME : {:.4f}".format(model_train_rmse))
    print(" MAE : {:.4f}".format(model_train_mae))
    print(" R2 : {:.4f}".format(model_train_r2))

    print('Model performace in test set')
    print(" RSME : {:.4f}".format(model_test_rmse))
    print(" MAE : {:.4f}".format(model_test_mae))
    print(" R2 : {:.4f}".format(model_test_r2))

    print('='*35)
    print('\n')

LinearRegression
Model performance in train set
 RSME : 553855.6665
 MAE : 268101.6071
 R2 : 0.6218
Model performace in test set
 RSME : 502543.5930
 MAE : 279618.5794
 R2 : 0.6645
===================================


Lasso
Model performance in train set
 RSME : 553855.6710
 MAE : 268099.2226
 R2 : 0.6218
Model performace in test set
 RSME : 502542.6696
 MAE : 279614.7461
 R2 : 0.6645
===================================


Ridge
Model performance in train set
 RSME : 553856.3160
 MAE : 268059.8015
 R2 : 0.6218
Model performace in test set
 RSME : 502533.8230
 MAE : 279557.2169
 R2 : 0.6645
===================================


KNeighborsRegressor
Model performance in train set
 RSME : 325873.0088
 MAE : 91425.4705
 R2 : 0.8691
Model performace in test set
 RSME : 253024.3951
 MAE : 112526.3461
 R2 : 0.9150
===================================


DecisionTreeRegressor
Model performance in train set
 RSME : 20797.2352
 MAE : 5164.8199
 R2 : 0.9995
Model performace in test set
 RSME : 305727.6782
 MAE : 125462.8798
 R2 : 0.8758
===================================


RandomForestRegressor
Model performance in train set
 RSME : 120999.6117
 MAE : 39783.8287
 R2 : 0.9819
Model performace in test set
 RSME : 228649.2860
 MAE : 102398.3693
 R2 : 0.9306
===================================


AdaBoostRegressor
Model performance in train set
 RSME : 453937.4831
 MAE : 354941.8486
 R2 : 0.7459
Model performace in test set
 RSME : 486311.1479
 MAE : 372043.4652
 R2 : 0.6858
===================================


GradientBoostingRegressor
Model performance in train set
 RSME : 204944.5104
 MAE : 111709.5558
 R2 : 0.9482
Model performace in test set
 RSME : 254108.8740
 MAE : 125943.7419
 R2 : 0.9142
===================================


XGBRegressor
Model performance in train set
 RSME : 85441.7947
 MAE : 61009.3203
 R2 : 0.9910
Model performace in test set
 RSME : 246853.8159
 MAE : 99048.5078
 R2 : 0.9191
===================================

In [34]:
XGBoostParams = {
    "learning_rate":[0.1,0.01],
    "max_depth":[5,8,12,20,30],
    "n_estimators":[100,200,300],
    "colsample_bytree":[0.5,0.8,1,0.3,0.4]
}

In [35]:
randomcv_models=[
    ('XGBR',XGBRegressor(),XGBoostParams)
]

In [37]:
from sklearn.model_selection import RandomizedSearchCV
model_param={}
for name , model , params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                param_distributions=params,
                                n_iter=100,
                                cv=3,
                                n_jobs=-1,
                                verbose=2)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_
for model_name in model_param:
    print(f" Best Params for {model_name} ---- ")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits
 Best Params for XGBR ----
{'n_estimators': 300, 'max_depth': 5, 'learning_rate': 0.1, 'colsample_bytree': 0.5}

In [38]:
models = {
    "XGBoost":XGBRegressor(n_estimators=300,max_depth=5,learning_rate=0.1,colsample_bytree=0.5)
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae , model_train_rmse , model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae , model_test_rmse , model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    
    print('Model performance in train set')
    print(" RSME : {:.4f}".format(model_train_rmse))
    print(" MAE : {:.4f}".format(model_train_mae))
    print(" R2 : {:.4f}".format(model_train_r2))

    print('Model performace in test set')
    print(" RSME : {:.4f}".format(model_test_rmse))
    print(" MAE : {:.4f}".format(model_test_mae))
    print(" R2 : {:.4f}".format(model_test_r2))

    print('='*35)
    print('\n')

XGBoost
Model performance in train set
 RSME : 113500.4364
 MAE : 74046.0703
 R2 : 0.9841
Model performace in test set
 RSME : 330411.0813
 MAE : 103493.6172
 R2 : 0.8550
===================================